<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a296f6f8-90dc-45cc-a116-2f3cd0f91b82/resourcegroups/nif-pt-generator20230112221933ResourceGroup/providers/Microsoft.Web/sites/nif-pt-generator20230112221933</ResourceId>
    <ResourceGroup>nif-pt-generator20230112221933ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/a296f6f8-90dc-45cc-a116-2f3cd0f91b82/resourceGroups/nif-pt-generator20230112221933ResourceGroup/providers/Microsoft.ApiManagement/service/nif-pt-generatorapi/apis/nif-pt-generator</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nif-pt-generator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>3950e478-8ae6-4452-98f6-94c7c916083e</ProjectGuid>
    <MSDeployServiceURL>nif-pt-generator20230112221933.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>nif-pt-generator20230112221933</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$nif-pt-generator20230112221933</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>